.Gif {
  border: 1px solid #eee;
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 16px;
  padding: 20px;
  width: 40%;
  margin-top: 50px;
}

.Gif h4 {
  margin: 0;
}

.Gif img {
  object-fit: contain;
}
